<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">View Operation</h1>
</div>

<div ng-app="opApp" ng-controller="opAppCtrl">
  
  <div class="btn-group">
    <div class="dropdown">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="serviceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Services
      </a>
      <div class="dropdown-menu" aria-labelledby="serviceDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="btn-group">
    <div class="dropdown">
      <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="operationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Operations
      </a>
      <div class="dropdown-menu" aria-labelledby="operationDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

</div>