<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-table"></i>
    <span>Data Models</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Model Management</h6>
      <a class="collapse-item" href="./main?parent=Data Models&actionName=View Models&action=modelView">View Models</a>
      <a class="collapse-item" href="./main?parent=Data Models&actionName=New Model&action=modelNew">New Model</a>
    </div>
  </div>
</li>

<!-- Nav Item - Service & Operations Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSvcOps" aria-expanded="true" aria-controls="collapseSvcOps">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Service & Operations</span>
  </a>
  <div id="collapseSvcOps" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Applications</h6>
      <a class="collapse-item" href="./main?parent=Service&actionName=Manage Application&action=appManage">Manage Apps & Services</a>
      <!-- <a class="collapse-item" href="./main?parent=Service&actionName=New Application&action=appNew">New Application</a> -->
      <!-- <div class="collapse-divider"></div>
      <h6 class="collapse-header">Service & Operation</h6> -->
      <!-- <a class="collapse-item" href="./main?parent=Service&actionName=Manage Services&action=svcManage">Manage Services</a> -->
      <a class="collapse-item" href="./main?parent=Service&actionName=Manage Operations&action=svcManage">Manage Svc Operations</a>
    </div>
  </div>
</li>

<!-- Nav Item - APIs Collapse Menu-->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApis" aria-expanded="true" aria-controls="collapseApis">
    <i class="fas fa-fw fa-cog"></i>
    <span>APIs</span>
  </a>
  <div id="collapseApis" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">API Management</h6>
      <a class="collapse-item" href="./main?parent=APIs&actionName=View APIs&action=apiView">View APIs</a>
      <a class="collapse-item" href="./main?parent=APIs&actionName=Manage Resource API&action=apiResManage">Manage Resource API</a>
    </div>
  </div>
</li>

<!-- Nav Item - Web Views -->
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-fw fa-folder"></i>
    <span>Web Views</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<!-- <div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div> -->

</ul>